
html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 600px) {
  nav {
    display: none !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #292a2d;
}
::-webkit-scrollbar-thumb {
  background: #e3405f;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e3405f;
}

/* Ensure the main content is initially hidden */
.main-content {
  opacity: 0;
  transition: opacity 1.5s ease-in-out; 
  visibility: hidden;
}


.main-content.visible {
  opacity: 1;
  visibility: visible;
}
