html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 600px) {
  nav {
    display: none !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #292a2d;
}
::-webkit-scrollbar-thumb {
  background: #e3405f;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e3405f;
}

/* Ensure the main content is initially hidden */
.main-content {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  visibility: hidden;
}

.main-content.visible {
  opacity: 1;
  visibility: visible;
}

/* Animated background */
.animated-background {
  background: linear-gradient(-45deg, #1D1D1D, #2D2D2D, #3D3D3D, #4D4D4D);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}

/* Gradient background animation */
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Pulse animation for button */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
